# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
golang-server.iml
modules.xml
/inspectionProfiles/Project_Default.xml
